.triptik {
	display: flex;
	width: 52.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}
.ou {
	width: 17.5em;
	border: 0.05em solid grey;
	height : 5.5em;
}
.quand {
	width: 17.5em;
	border: 0.05em solid grey;
	height : 5.5em;
}
.voyageur {
	display: flex;
	flex-wrap: nowrap;
	width: 17.5em;
	border: 0.05em solid grey;
	height : 5.5em;
}
label {
	display: block;
	font-family: Arial, sans-serif;
	font-size: 0.7em;
	padding-top: 2em;
	padding-left: 1em;
	padding-bottom: 0.5em;

}
input {
	display: block;
	border: none;
	font-size: 0.9em;
	font-family: Arial;
	padding-left: 1em;
}
select {
	border : none;
	background-color: #fff;
	font-size: 0.9em;
	font-family: arial;
	padding-left: 0em;
	padding-top: 1em;
	margin-left: 0;
}
button {
	width: 6em;
	height: 2.1em;
	background-color: #f1404b;
	margin-left: 1.75em;
	border-radius: 0.4em;
	color: #fff;
	font-size: 0.9em;
	align-self: center;
	margin-right: 0.5em;
}
option {
	margin-left: 0em;
}