footer {
	display: flex;
	justify-content: space-between;
	width: 52.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}
.liensrs {
	display: flex;
	justify-content: space-between;
	width: 52.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	border-top: 1px solid grey;
	
	a {
		text-decoration: $text-decoration;
		background: transparent;


		&:link, &:visited{
			color: #767676;
		}
		&:hover {
			color: #008489;

		}
	}
	li {
		font-family: Helvetica; 
		font-size: 0.7em;
	}

	
}
.titrerubrik {
	
	a {
		text-decoration: $text-decoration;
		background: transparent;


		&:link, &:visited{
			color: #767676;
		}
		&:hover {
			color: #008489;

		}
	}
	ul {
		list-style: none;
	}
	li {
		font-family: Helvetica; 
		font-size: 0.7em;
	}
}
.select {
	display: block;
	margin-top: 2em;
	margin-left: 0.5em;
}
.selectpays{
	select {
		display: flex;
		align-self: center; 
		border: 1px solid grey;
		color: #008489;
		background-color: #fff;
		width: 6em;
		margin-bottom: 0.5em;
	}

}
.selectdevise {
	select {
		border: 1px solid grey;
		color: #008489;
		background-color: #fff;
		width: 6em;
		margin-top: 0.5em;
	}
}

hr {
	margin-top: 3em;
}