*{
	box-sizing: border-box;
}
html, body{
	font-size: $font-size;
	margin: 0;
	margin-top: 0;
}
nav {
	
	ul {

		list-style: none;
		text-align: right;
		margin: 0;

	}

	li {
		display: inline-block;
		
	}

	a {
		
		text-decoration: $text-decoration;
		color:white;
		padding:1.5em;
		font-size: $font-size;
		margin-top: 0;

	}
	img {
		float: left;
		width: 1.5em;
		height: 1.5em;
	}
	
}

header {
	background-image: url("http://lorempicsum.com/futurama/627/300/4");
	height : 25em;
	background-size: cover;
}